In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
pwd

'/Users/zhangyilun/Desktop/module2'

# business

In [3]:
f = open('./data/business_train.json', 'r')
with open('./data/business_train.json') as f:
    read_data = f.read()
f.closed

True

In [7]:
file1 = open('./data/business_train.json','r')
j1 = file1.readlines()

In [8]:
for i in range(len(j1)):
    j1[i]=json.loads(j1[i])

In [9]:
df_bu = pd.DataFrame.from_records(j1)

In [10]:
df_bu.head()

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state
0,{'GoodForKids': 'False'},3157,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,AZ
1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
2,None,53580,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,AZ
3,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",27909,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,NC
4,"{'RestaurantsPriceRange2': '2', 'BusinessParki...",95694,"Beauty & Spas, Hair Salons",Calgary,None,1,50.943646,-114.001828,Edgeworxx Studio,T2Z 1K4,AB

In [6]:
json.loads(j1[1])['attributes']               #1.所以attributes删或不删？

{'Alcohol': "u'beer_and_wine'",
 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 'BikeParking': 'True',
 'BusinessAcceptsCreditCards': 'True',
 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
 'Caters': 'False',
 'GoodForKids': 'True',
 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}",
 'HasTV': 'True',
 'NoiseLevel': "u'average'",
 'OutdoorSeating': 'False',
 'RestaurantsAttire': "'casual'",
 'RestaurantsDelivery': 'False',
 'RestaurantsGoodForGroups': 'True',
 'RestaurantsPriceRange2': '2',
 'RestaurantsReservations': 'True',
 'RestaurantsTableService': 'True',
 'RestaurantsTakeOut': 'True',
 'WiFi': "u'no'"}

In [7]:
json.loads(j1[2])['hours']               #1.有些商家没有标注出工作日期，2.是用one hot将每天有货没有量化，还是计算总工作天数（时长）/周

{'Friday': '8:0-17:0',
 'Monday': '8:0-17:0',
 'Thursday': '8:0-17:0',
 'Tuesday': '8:0-17:0',
 'Wednesday': '8:0-17:0'}

In [8]:
lst_rmatt = list()
for i in range(n):                          #删去每个字典中的’attributes‘
    dic = json.loads(j1[i])
    dic.pop('attributes')
    lst_rmatt.append(dic)

In [9]:
lst_rmatt[0]

{'business_id': 3157,
 'categories': 'Golf, Active Life',
 'city': 'Phoenix',
 'hours': None,
 'is_open': 0,
 'latitude': 33.5221425,
 'longitude': -112.0184807,
 'name': 'Arizona Biltmore Golf Club',
 'postal_code': '85016',
 'state': 'AZ'}

In [10]:
len(lst_rmatt)

154606

In [11]:
lst = list()
for i in range(n):
    dic = lst_rmatt[i]
    lst.extend(list(dic.keys()))
fea = set(lst)
fea

{'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'postal_code',
 'state'}

In [12]:
n

154606

In [22]:
lst_rmatt[0]         #1. 要处理Hours为None的情形

{'business_id': 3157,
 'categories': 'Golf, Active Life',
 'city': 'Phoenix',
 'hours': None,
 'is_open': 0,
 'latitude': 33.5221425,
 'longitude': -112.0184807,
 'name': 'Arizona Biltmore Golf Club',
 'postal_code': '85016',
 'state': 'AZ'}

In [16]:
pd.DataFrame(lst_rmatt[1])

,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state
Friday,23732,"Sushi Bars, Restaurants, Japanese",Charlotte,17:30-22:0,1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
Monday,23732,"Sushi Bars, Restaurants, Japanese",Charlotte,17:30-21:30,1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
Saturday,23732,"Sushi Bars, Restaurants, Japanese",Charlotte,17:30-22:0,1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
Sunday,23732,"Sushi Bars, Restaurants, Japanese",Charlotte,17:30-21:0,1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
Thursday,23732,"Sushi Bars, Restaurants, Japanese",Charlotte,17:30-21:30,1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
Wednesday,23732,"Sushi Bars, Restaurants, Japanese",Charlotte,17:30-21:30,1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC

# review

In [2]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
file2 = open('/Users/zhangyilun/Desktop/module2/data/review_train.json','r')
j2 = file2.readlines()

In [80]:
json.loads(j2[1])['text']

"I *adore* Travis at the Hard Rock's new Kelly Cardenas Salon!  I'm always a fan of a great blowout and no stranger to the chains that offer this service; however, Travis has taken the flawless blowout to a whole new level!  \n\nTravis's greets you with his perfectly green swoosh in his otherwise perfectly styled black hair and a Vegas-worthy rockstar outfit.  Next comes the most relaxing and incredible shampoo -- where you get a full head message that could cure even the very worst migraine in minutes --- and the scented shampoo room.  Travis has freakishly strong fingers (in a good way) and use the perfect amount of pressure.  That was superb!  Then starts the glorious blowout... where not one, not two, but THREE people were involved in doing the best round-brush action my hair has ever seen.  The team of stylists clearly gets along extremely well, as it's evident from the way they talk to and help one another that it's really genuine and not some corporate requirement.  It was so much fun to be there! \n\nNext Travis started with the flat iron.  The way he flipped his wrist to get volume all around without over-doing it and making me look like a Texas pagent girl was admirable.  It's also worth noting that he didn't fry my hair -- something that I've had happen before with less skilled stylists.  At the end of the blowout & style my hair was perfectly bouncey and looked terrific.  The only thing better?  That this awesome blowout lasted for days! \n\nTravis, I will see you every single time I'm out in Vegas.  You make me feel beauuuutiful!"

In [84]:
n_r = len(j2)
n_r

5364626

In [4]:
for i in range(len(j2)):
    j2[i]=json.loads(j2[i])

In [5]:
df_re = pd.DataFrame.from_records(j2)

In [6]:
df_re.head()

,business_id,date,stars,text
0,31292,2013-05-07 04:34:36,1.0,Total bill for this horrible service? Over $8G...
1,35344,2017-01-14 21:30:33,5.0,I *adore* Travis at the Hard Rock's new Kelly ...
2,152538,2016-11-09 20:09:03,5.0,I have to say that this office really has it t...
3,71871,2018-01-09 20:56:38,5.0,Went in for a lunch. Steak sandwich was delici...
4,64913,2018-01-30 23:07:38,1.0,Today was my second out of three sessions I ha...

# Merge

In [14]:
df_me = pd.merge(df_bu,df_re,on='business_id')

In [53]:
# df_me.to_csv('business_review_train.csv')

In [54]:
#df_rawcsv = pd.read_csv('/Users/zhangyilun/Desktop/module2/business_review_train.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
n_me = len(df_me)
n_me

5364626

In [40]:
df_me.iloc[2:3]

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state,date,stars,text
2,{'GoodForKids': 'False'},3157,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,AZ,2015-03-27 00:21:38,5.0,Absolutely gorgeous facility. Golf course was...

In [58]:
lst_rest = list()
for i in range(n_me):
    if df_me['categories'][i]:
         if 'Restaurants' in df_me['categories'][i]:
                lst_rest.append(i)

In [60]:
len(lst_rest)

3377545

In [61]:
df_me_rest = df_me.iloc[lst_rest]

In [71]:
#df_me_rest.to_csv('business_review_train_restaurant.csv')

In [75]:
df_me_rest.head(5)

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state,date,stars,text
5,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2014-02-24 02:51:56,2.0,"Husband was craving Chicken Teriyaki & gyoza, ..."
6,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2014-07-13 20:28:18,4.0,Went there Saturday noon they open at 12pm but...
7,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2018-05-09 00:39:36,2.0,Went to this restaurant on Saturday as I had a...
8,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2017-10-25 13:58:04,5.0,This place will always have a place in my stom...
9,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2015-04-02 01:13:36,4.0,"Well first time I've really had ""authentic"" Ja..."

In [73]:
df_rest = pd.read_csv('/Users/zhangyilun/Desktop/module2/business_review_train_restaurant.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [74]:
df_rest.head()

,Unnamed: 0,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state,date,stars,text
0,5,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",23732.0,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1.0,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2014-02-24 02:51:56,2.0,"Husband was craving Chicken Teriyaki & gyoza, ..."
1,6,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",23732.0,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1.0,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2014-07-13 20:28:18,4.0,Went there Saturday noon they open at 12pm but...
2,7,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",23732.0,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1.0,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2018-05-09 00:39:36,2.0,Went to this restaurant on Saturday as I had a...
3,8,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",23732.0,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1.0,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2017-10-25 13:58:04,5.0,This place will always have a place in my stom...
4,9,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...",23732.0,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1.0,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC,2015-04-02 01:13:36,4.0,"Well first time I've really had ""authentic"" Ja..."

In [90]:
df_rest.iloc[0,14]

'Husband was craving Chicken Teriyaki & gyoza, so we found Musashi. I was very unimpressed. We started with gyoza and edamame. Neither were anything special. We then ordered a chicken teriyaki plate and a few sushi rolls. The chicken teriyaki was nothing more than some boiled chicken smothered in teriyaki sauce. Was not good at all. The sushi was mediocre at best. While they were friendly and the service was pretty good - I will not be back.'