In [1]:
import json
file = open('review_train.json','r')
a = file.readlines()
file.close()
len(a)
a0 = a[0]
a0 = json.loads(a0)

In 'review_train.json' file,there are 5364626 yelp data and it has 4 variables: 'business_id', 'stars', 'text', 'date'.

In [2]:
file2 = open('review_test.json','r')
b = file2.readlines()
file2.close()
len(b)
b0 = b[0]
b0 = json.loads(b0)

In 'review_test.json' file,there are 1321274 yelp data and it has 5 variables: 'business_id', 'stars', 'text', 'date', 'KaggleID'.

In [3]:
file3 = open('business_train.json','r')
c = file3.readlines()
file3.close()
len(c)
c0 = c[0]
c0 = json.loads(c0)

In 'review_test.json' file,there are 154606 yelp data and it has 11 variables: 'business_id', 'name', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'is_open', 'attributes', 'categories', 'hours'.

In [4]:
file4 = open('business_test.json','r')
d = file4.readlines()
file4.close()
len(d)
d0 = d[0]
d0 = json.loads(d0)

In 'business_test.json' file,there are 38000 yelp data and it has 11 variables: 'business_id', 'name', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'is_open', 'attributes', 'categories', 'hours'.

In [7]:
#a=a[:100]

In [5]:
import pandas as pd

In [6]:
for i in range(len(a)):
    a[i]=json.loads(a[i])

In [8]:
for i in range(len(b)):
    b[i]=json.loads(b[i])

In [9]:
for i in range(len(c)):
    c[i]=json.loads(c[i])

In [10]:
for i in range(len(d)):
    d[i]=json.loads(d[i])

In [7]:
dfa = pd.DataFrame.from_records(a)
dfa.head(5)

,business_id,date,stars,text
0,31292,2013-05-07 04:34:36,1.0,Total bill for this horrible service? Over $8G...
1,35344,2017-01-14 21:30:33,5.0,I *adore* Travis at the Hard Rock's new Kelly ...
2,152538,2016-11-09 20:09:03,5.0,I have to say that this office really has it t...
3,71871,2018-01-09 20:56:38,5.0,Went in for a lunch. Steak sandwich was delici...
4,64913,2018-01-30 23:07:38,1.0,Today was my second out of three sessions I ha...

In [11]:
dfb = pd.DataFrame.from_records(b)
dfb.head(5)

,KaggleID,business_id,date,text
0,1,85246,2015-01-18 14:04:18,I was really looking forward to visiting after...
1,2,140371,2015-04-01 16:30:00,I love chinese food and I love mexican food. W...
2,3,148359,2017-03-27 01:14:37,"Our family LOVES the food here. Quick, friendl..."
3,4,133056,2017-05-13 10:41:43,If you are looking for the best pierogies in P...
4,5,121957,2012-11-06 03:41:43,"Great food, great service. Obviously fried chi..."

In [12]:
dfc = pd.DataFrame.from_records(c)
dfc.head(5)

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state
0,{'GoodForKids': 'False'},3157,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,AZ
1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",23732,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,NC
2,None,53580,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,AZ
3,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",27909,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,NC
4,"{'RestaurantsPriceRange2': '2', 'BusinessParki...",95694,"Beauty & Spas, Hair Salons",Calgary,None,1,50.943646,-114.001828,Edgeworxx Studio,T2Z 1K4,AB

In [13]:
dfd = pd.DataFrame.from_records(d)
dfd.head(5)

,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,state
0,"{'RestaurantsReservations': 'True', 'GoodForMe...",141184,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,ON
1,"{'BusinessParking': '{'garage': False, 'street...",148476,"Shipping Centers, Couriers & Delivery Services...",Mississauga,"{'Monday': '9:0-19:0', 'Tuesday': '9:0-20:0', ...",1,43.599475,-79.711584,The UPS Store,L5V 0B1,ON
2,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",86835,"Hair Stylists, Beauty & Spas, Hair Salons, Men...",Scottsdale,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,33.600071,-111.977371,Knot Salon,85254,AZ
3,"{'BusinessAcceptsCreditCards': 'True', 'Busine...",116708,"Women's Clothing, Shopping, Accessories, Fashi...",Las Vegas,"{'Monday': '10:0-20:0', 'Tuesday': '10:0-20:0'...",1,36.271546,-115.264484,Maurices,89149,NV
4,"{'WiFi': 'u'no'', 'BikeParking': 'True', 'Rest...",59216,"Juice Bars & Smoothies, Food, Restaurants, Fas...",Toronto,"{'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...",1,43.642889,-79.425429,Bolt Fresh Bar,M6J 1J5,ON

In [33]:
#json.loads(c[1])['business_id']  #Sushi

23732

In [48]:
#import numpy as np
#np.where(df['business_id'] == 23732)

(array([  1449,   9807,  27604,  28628,  34276,  37408,  38081,  38302,
         45867,  48835,  49841,  49843,  50452,  53558,  55019,  56341,
         57956,  58184,  61033,  62605,  63646,  69961,  70778,  79467,
         80752,  82598,  84867,  91024,  91756,  92164,  93136,  98117,
         98356, 100393, 100711, 103587, 103766, 104983, 105623, 108204,
        109438, 110607, 112367, 115613, 119504, 120329, 122528, 123358,
        124199, 136322, 137635, 138052, 146438, 156877, 166808, 166821,
        169071, 169949, 170681, 174620, 175105, 175922, 179809, 185486,
        186265, 186291, 190201, 194498, 195147, 201095, 204186, 207210,
        208369, 212403, 216060, 220229, 224848, 232573, 236691, 238651,
        248775, 251440, 252537, 254292, 255632, 261341, 264554, 265135,
        265431, 266040, 268176, 268397, 275953, 280472, 281491, 284291,
        284483, 287903, 292785, 293038, 294168, 296179, 298059, 304706,
        306316, 312653, 313153, 313569, 321087, 323085, 324541, 330124,
        334683, 336168, 339777, 342946, 345002, 345052, 346133, 346453,
        349396, 353055, 355306, 357373, 362701, 374045, 376158, 385963,
        387906, 395394, 396662, 400056, 400508, 401503, 402502, 407594,
        409855, 410512, 411637, 412310, 413825, 417777, 417926, 419097,
        420454, 421094, 427572, 428999, 431529, 432563, 432671, 438417,
        438452, 441133, 442433, 443972, 450167, 457940, 463027, 464081,
        466543, 468176, 473644, 477781, 479055, 480843, 481495, 489746,
        490630, 495233, 496513, 504275, 507508, 508660, 509678, 510440,
        511166, 512427], dtype=int64),)

In [25]:
dfc['business_id'].isin(dfa['business_id'])

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
          ...
154576    True
154577    True
154578    True
154579    True
154580    True
154581    True
154582    True
154583    True
154584    True
154585    True
154586    True
154587    True
154588    True
154589    True
154590    True
154591    True
154592    True
154593    True
154594    True
154595    True
154596    True
154597    True
154598    True
154599    True
154600    True
154601    True
154602    True
154603    True
154604    True
154605    True
Name: business_id, Length: 154606, dtype: bool

In [84]:
def check_res(self):
    result = False
    if ('restaurants'in (self.lower().replace(" ", "").split(','))) or ('restaurant'in (self.lower().replace(" ", "").split(','))):
        result=True
    return result

In [85]:
dfc['categories'].apply(check_res)

AttributeError: 'NoneType' object has no attribute 'lower'

In [88]:
dfc['categories'][1].lower()

'sushi bars, restaurants, japanese'